services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v3.5.0
    container_name: mealie
    restart: always
    ports:
        - "9925:9000"
    deploy:
      resources:
        limits:
          memory: 1000M
    volumes:
      - mealie-data:/app/data/
    environment:
      ALLOW_SIGNUP: ${ALLOW_SIGNUP}
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      BASE_URL: ${BASE_URL}

volumes:
  mealie-data:
