PORT=8990
POSTGRES_USER=miniflux
POSTGRES_PASSWORD=changeme
POSTGRES_DB=miniflux
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
# How often to poll feeds, in minutes. 1440 = once per day.
POLLING_FREQUENCY=1440
